



<div class="container">
    <div class="jumbotron">
        <div class="successMessage" ><%= notice %> </div>
        <h1 style="font-size: 50px;margin-bottom:40px;"> Welcome to the Music collection website </h1>
            <p> A place to store albums of songs for registered user as well as favourite albums </p>
            <p> To start storing and favoriting music collections register or login above! </p>
            <h4 style="color:red;margin-bottom:40px"> Scroll down and all the way up after to see JQuery navbar animation </h4>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>        
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
    </div>
</div>