

<div class="container">
    <div class="jumbotron">
        <h3>New Album</h3>
        <%= render 'form', album: @album %>
        <%= link_to 'Back', albums_path, class:"btn btn-default btn-light" %>
    </div>
</div>


