/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .errorMessage{
     color: red;
     font-weight: bold;
 }

 .successMessage{
     color: green;
     font-weight: bold;
 }

 .navbar-scroll {
	background-color: rgba(22, 22, 22, 1);
	padding-bottom: 0	;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
	margin: 0 300px;
}

.navbar {
    transition-duration: 0.6s;
}

body { 
    padding-top: 70px; 
}

@media screen and (max-width: 767px){
    // padding top increases when in mobile view as navbar tiles
    body{
        padding-top: 250px;
    }
    .navbar-scroll{
        pointer-events: none;
        margin: 0 50px;
        opacity: 0;
    }
}
